body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;
  height: 100vh;
  background-color: #fff;
  padding-right: 300px;
  position: relative;
}

.login-card {
  display: flex;
  width: 600px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);

  position: relative;
  left: -60px;
  z-index: 2;

}

.login-left {
  flex: 1;
  background-color: #b3c0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;

  background-color: rgba(179, 192, 255, 0.6);
}

.login-left h1 {
  margin-top: -10px;
  margin-bottom: 70px;
}

.login-left button {
  margin-top: 60px;
}

.login-right {
  flex: 1;
  background-color: #c6d0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-right h1 {
  margin-bottom: 20px;
}

.login-right input {
  margin-bottom: 15px;
  border-radius: 50px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
}

.login-right button {
  border-radius: 50px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
}

.login-right a {
  font-size: 0.9rem;
  text-decoration: none;
  margin-bottom: 10px;
  color: #333;
}

.login-image {
  max-width: 80%;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}