body {
  background-color:  #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #0d6efd;
}

.mascote {
  width: 150px;
  height: auto;
}

.status-badge {
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 5px 10px;
}

.status-completed {
  background-color: #198754;
  color: white;
}

.status-pending {
  background-color: #ffc107;
  color: #212529;
}

.status-in-progress {
  background-color: #0dcaf0;
  color: #212529;
}
