body {
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #0d6efd;
  font-weight: 600;
}

.card {
  border-radius: 12px;
}

table {
  border-radius: 8px;
  overflow: hidden;
}

#alerta {
  text-align: center;
}

.logo {
    width: 300px;
    height: auto;
}