body {
    background-color:  #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #0d6efd;
}

.accordion-button {
    background-color: #e9ecef;
    color: #0d6efd;
    font-weight: bold;
}

.accordion-body {
    background-color: #ffffff;
    color: #495057;
}

.pombo-container {
    text-align: center;
    margin-bottom: 30px;
}

.pombo-img {
    width: 330px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}