body {
    background-color: #fff;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-weight: 400;
    letter-spacing: 2px;
}

h6 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

button.btn {
    border-radius: 5px;
    padding: 10px 20px;
}

.pombo-img {
    position: fixed;
    bottom: 20px;
    right: 450px;
    width: 300px;
    height: auto;
}